<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">NumberQuiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NumberQuiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title
          >Adivina un número aleatorio entre el 1 y el 50.</ion-card-title
        >
        <ion-card-subtitle>¿Podrás con ello?</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-input placeholder="0" type="number"></ion-input>
      </ion-card-content>
    </ion-card>
    <p>El {{numeroIntroducido}} es {{pista}} el numero secreto</p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button shape="round" expand="block" fill="outline" color="success" (click)="CheckNumbers()">Check</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" expand="block" fill="outline" color="warning" (click)="resetPage()">Reset</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
